html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


body>* {
  padding: clamp(15px, 2vw, 40px);
}


header {
  background-color: rgb(146, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .me {
  position: relative;
}

header img {
  width: 50vw;
}

h1 {
  color: #fff;
  font-size: clamp(20px, 3vw, 3rem);
  position: absolute;
  width: 100%;
  text-align: center;
  
}

header .about-me {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 2px 2px 3px 4px black;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

h2 {
  font-size: clamp(1.3rem, 4vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 25px;
}

.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 40px;

}

.screenshot {
  background-color: rgb(163, 138, 187);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshot>p {
  font-size: clamp(1rem, 4vw, 2.5rem);
  font-weight: bold;
  text-align: center;
}

.project-info>* {
  padding: 5px 15px;
}

.name-icons {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 5px;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  

  
  align-items: center;
  background-color: rgb(146, 233, 233);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer img {
  width: max(100%, 30vw);
  float: right;
}
address {
  font-size: clamp(1rem, 2vw, 1.25rem);
}
.icons>* {
  width: clamp(1rem, 3vw, 2rem);
}

@media (max-width: 900px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);

  }

  header {
    flex-direction: column;
    position: relative;
  }

  header .me {
    position: relative;
    z-index: 1;
    
  }

  header img {
    width: max(100%, 60vw);
  }

  header .about-me {
    z-index: 0;
    margin-top: -60px;
    padding-top: 80px;  
  } 

  footer img {
    width: max(80%, 30vw);
  }
}

@media (max-width: 600px) {
  
  header .me {
    width: 100%;
  }

  header .about-me {
    z-index: 0;
    margin-top: 0;
    padding-top: 0;  
  } 

  .projects-container {
    grid-template-columns: 1fr;
  }

  footer {
    flex-direction: column;
  }


  footer img {
    width: 100%;
  }
}